<h1>Question: </h1>
<h3>{{question.inquiry}}</h3>
<h3>Other notes: {{question.notes}}</h3>
<h4>Asked by {{question.author}}</h4>

{{edit-question question=question update="update"}}

<h3>Answers: </h3>
{{#each question.answers as |answer|}}
  {{answer-list answer=answer}}
{{/each}}
